APP_NAME=portal_bt
APP_PORT=8000
DEBUG=True
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

DB_NAME=db_${APP_NAME}
DB_USER=root
DB_PASSWORD=root
DB_HOST=${DB_NAME}
DB_PORT=5432
DB_ECHO=False

POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}
POSTGRES_DB=${DB_NAME}
