APP_NAME=portal_bt
APP_PORT=8000

DB_NAME=db_${APP_NAME}
DB_USER=root
DB_PASSWORD=root
DB_HOST=127.0.0.1
DB_PORT=5432

POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}
POSTGRES_DB=${DB_NAME}

